.about{
display: flex;
width: 100%;

}

.pb{
width: 40%;
margin-top: 250px;


}
.pb .btnabout{

/*width: 200px;
height: 50px;
margin-left: 500px;
color: #556B2F;
background-color: #fff;
border: #556B2F 1px solid;
   
 border: none;
    padding: 20px 35px ;
    background:#F0E68C ;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius:40px ;
   
   
    box-shadow: 0 8px 5px 0px  #ffcaaf56 ;
*/  width: 300px;
    text-align: center;
    height: 60px;
  color: black;
padding: 20px 35px ;
background:#FFFACD  ;
font-size: 30px;
font-weight: 500;
text-transform: uppercase;
border-radius:40px ;
width: 300px;
text-align: center;
 margin-left: 355px;
    margin-top: 25px;
 padding-bottom: 50px;

box-shadow: 0 8px 5px 0px #F0E68C ;

margin-top: 25px;
margin-bottom: 25px;
}
.pb p{
   font-family: cursive; 
   font-size: 1.3rem;
   line-height: 30px;
   margin-bottom: 30px;
  padding-left: 10px;
   border-left:2px solid #F0E68C   ;


}

.aboutimg{
   box-shadow: 0 8px 15px 0px  #58585856;
border-radius: 150px;
width: 45%;
height:450px;
margin:140px 80px;


}